<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import JQuery-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <title>ElasTest Security Service</title>
      <script>
		//Function to send API request with the entered tjob id
		function addTJobId(){
			return "/ess/api/r3/secjobs/"+$("#tjobid").val()+"/exec";
		}

		function changeProgress(element,percentage){
			$(element).attr("style", "width: "+percentage+"%");
		}
	
		function showReport(){
			url= addTJobId()
			$("#div1").load(url, function(responseTxt, statusTxt, xhr){
			    if(statusTxt == "success")
				changeProgress(".determinate",100);
			    if(statusTxt == "error")
				alert("Error: " + xhr.status + ": " + xhr.statusText);
			});
		}
		//Function that triggers upon clicking tjob creation button
		$(document).ready(function(){
		  $("#create-sjob").click(function(){
		      showReport()
		  });
		});
      </script>
    </head>
    <body>
      <!--Import jQuery before materialize.js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js">
      </script>
	<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
        <!-- LEFT LOGO -->
        <nav>
          <div class="nav-wrapper blue">
            <a href="" class="brand-logo">ElasTest Security Service</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="active" href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav>
        <!-- SecJob Operations -->
        <div id="home">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header active">
                <i class="material-icons">create</i>Create New SecJob
              </div>
              <div class="collapsible-body">
                <form>
                  <div class="input-field">
                    <input type="text" id="secjobname">
                    <label class="active" for="secjobname">SecJob Name*</label>
                  </div>
                  <div class="input-field">
                    <input type="text" id="tjobid">
                    <label class="active" for="tjobid">TJob ID*</label>
                  </div>
                  <div class="input-field">
                    <textarea type="text" id="secjobdesc" class="materialize-textarea"></textarea>
                    <label class="active" for="secjobdesc">SecJob Description</label>
                  </div>
                  <a onclick="toast()" id="create-sjob" class="btn">Create</a><div>SecJob Creation Ok!</div>
                </form>
              </div>
            </li>
	    <!-- List SecJobs with option to run-->
	    <li>
              <div class="collapsible-header">
                <i class="material-icons">playlist_play</i>View & Run SecJobs
              </div>

              <div class="collapsible-body">
	    <!-- List SecJobs -->
                 <ul id="secjob-collection" class="collection">
		    <li id="secjob-individual" class="collection-item avatar" style="display: inherit;">
		      <i class="material-icons circle">receipt</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
			 Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i><p>Execute</p></a>
		    </li>
		  </ul>
              </div>
            </li>
	    <!-- Help menu -->
            <li>
              <div class="collapsible-header">
                <i class="material-icons">help</i>Help
              </div>
              <div class="collapsible-body">
                <span>The ElasTest Security Service can be used to identify insecure cookies of a web application.</span>
              </div>
            </li>
          </ul>
        </div>
	
	<!-- Progress Bar -->
	<div class="progress">
	<div class="determinate" style="width: 70%"></div>
	</div>
        
        <!-- JQuery Operations -->
        <script type="text/javascript">
          function toast() {
            Materialize.toast('SecJob Created', 4000, 'rounded')
          }
        </script>
    </body>
  </html>
