<!DOCTYPE html>
<html>

<head>
    <title>ElasTest Security Service</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!--To get rid of the annoying firefox warning-->
    <meta charset="utf-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import JQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js">

    </script>
    <script src="scripts.js"></script>
</head>

<body>
    <!--Import jQuery before materialize.js-->

    <!-- LEFT LOGO -->
    <nav>
        <div class="nav-wrapper grey darken-1">
            <a href="" class="brand-logo">ElasTest Security Service</a>
        </div>
    </nav>
    <!-- Scan Operations -->
    <div id="main">

      <ul class="collapsible" data-collapsible="accordion">
          <li>
            <!-- Show Details of the TJob execution and security scan -->
            <div class="collapsible-header active"><i class="material-icons">assessment</i>Scan Progress & Report</div>
            <!-- Show TJob Execution Progress -->
            <div class="collapsible-body"><p id="current_exec_stat">Awaiting API calls from the TJob...</p>
              <div class="progress grey">
                <div id="tjex-prog" class="indeterminate orange lighten-1"></div>
              </div>
            </div>
            <!-- List domains -->
            <div id="list-domains" class="collapsible-body">
              <div id="domains-follow">
              </div>
              <a id="start-scan-btn" class="waves-effect waves-light orange lighten-1 btn">Start Scan</a>
              <a id="stop-scan-btn" class="waves-effect waves-light orange lighten-1 btn">Stop Scan</a>
            </div>
            <!-- Display Security Issues -->
            <div id="list-alerts" class="collapsible-body">
              <p>Security issues of the SuT (if any) will appear below</p>
            </div>
          </li>

          <li>
              <div class="collapsible-header">
                  <i class="material-icons">help</i>Help
              </div>
              <div class="collapsible-body">
                  <p><b>How to use?</b></p>
                  <ul style="list-style-type:circle">
                      <li>1. Go to the "Scan Configuration" section, remove the domains you want to exclude from scanning and click the "START SCAN" button</li>
                      <li>2. Go the the "Scan Progress & Report" section and visualize the progress of the scan</li>
                      <li>3. Notice each security issue displayed and make adequate changes in the SuT to resolve the issues based on their severity</li>
                      <li>4. Re-run the TJob to re-scan the SuT and check whether the resolved security issues are not reported again</li>
                  </ul>
              </div>
          </li>
      </ul
    </div>

    <!-- JQuery Operations -->
    <script type="text/javascript">
        function toast(message,time) {
            Materialize.toast(message, time, 'rounded')
          }
    </script>
</body>

</html>
